<title>Private Events Homepage</title>
<h1>Welcome to Private Events</h1>
<div>
    <%if logged_in? %>
        <h1>You are logged in, <%= current_user.username %></h1>
        <h2> Your Events <%= link_to "Events", events_path %></h2>
    
    <% end %>

    <p>Want to join? <%= link_to 'Sign up', signup_path %></p>
    <p>Already a member? <%= link_to 'Login', login_path %></p>

    
</div>            